.u-section-1 .u-sheet-1 {
  min-height: 662px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 582px;
  margin: 32px auto 48px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 552px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 348px;
  }
}